# This configures updates via dependabot only for github actions.
# All updates are grouped into a single PR.

version: 2
updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: monthly
  groups:
    github-actions:
      patterns:
        - "*"

# Ref: https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
