# ==== General Configuration ====
# Documentation of the TOML format: https://toml.io/en/latest

# Allow only a single vocabulary (default) or multiple vocabularies in the repository.
single_vocab = true

# ==== Configuration for vocabulary "voc4cat" ====

# The name of the vocabulary is used as section name.
# It should match the filename-stem of the vocabulary files.
[vocabs.voc4cat]
# Length of integer IDs in vocabulary. IDs will be left-padded with zeros to specified length.
id_length = 7
# permanent part of IRIs defined in the vocabulary
permanent_iri_part = "https://w3id.org/nfdi4cat/voc4cat_"

# Section to configure checks (useful in CI pipeline)
[vocabs.voc4cat.checks]
# Deleting allowed (relevant in CI-pipeline)
allow_delete = false

[vocabs.voc4cat.prefix_map]
v4c = "https://w3id.org/nfdi4cat/voc4cat_"
# Section of IDranges for coordinating the allocation of numeric ID ranges to
# contributors for each vocabulary. Each idrange contains the same keys:
#
# first_id = <int>            - first reserved integer ID in idrange
# last_id = <int>             - last reserved integer ID in idrange
# gh_name = "<string>"        - user or organisation name on github
# orcid = "<string> or <url>" - contributor's ORCID, e.g. "0000-0002-1825-0097" or "https://orcid.org/0000-0002-1825-0097"
# ror_id = "<url>"            - ROR identifier of home organisation, e.g. "https://ror.org/04fa4r544"

[[vocabs.voc4cat.id_range]]
first_id = 1
last_id = 5000
gh_name = "nmoust"
orcid = "0000-0002-6242-2167"
ror_id = "https://ror.org/029hg0311"

[[vocabs.voc4cat.id_range]]
first_id = 5001
last_id = 6000
gh_name = "dalito"
orcid = "0000-0002-5898-1820"
ror_id = "https://ror.org/029hg0311"

# Continue with as many [[vocabs.voc4cat.id_range]] sections as needed.
