# This action runs on merge to main.
#
# Workflow steps:
# - checkout gh-pages for updating
# - create joined vocabulary file in addition to split version
# - create excel-file from turtle
# - build pyLODE docs
# - publish docs, vocabulary-turtle files and excel-file to gh-pages

name: Merge & re-build
on:
  push:
    branches:
      - main
    paths:
      - 'idranges.toml'
      - '.zenodo.json'
      - '.github/workflows/**.yml'
      - 'templates/**.xlsx'
      - 'vocabularies/**.ttl'
  workflow_dispatch:

env:
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_PROGRESS_BAR: "off"
  LOGLEVEL: "DEBUG"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    name: Development build of vocabulary & documentation
    permissions:
      contents: write  # Required for peaceiris/actions-gh-pages below
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          # Using fetch-depth 0 is the only way to get all tags which are needed for building docs.
          fetch-depth: 0
          # Be specific about keeping credentials (it is the default)
          persist-credentials: true

      - name: Checkout gh-pages branch to dir publish/
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: gh-pages
          path: publish
          fetch-depth: 1
          # Be specific about keeping credentials (it is the default)
          persist-credentials: true

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -VV
          python -m pip install --upgrade pip setuptools wheel

          # install tagged version
          # python -m pip install git+https://github.com/nfdi4cat/voc4cat-tool.git@v1.0.0rc2
          python -m pip install git+https://github.com/nfdi4cat/voc4cat-tool.git@main

          # install custom pylode 2.x
          python -m pip install git+https://github.com/dalito/pyLODE.git@nfdi4cat-2.x

      - name: Set dynamic environment variables.
        run: |
          echo "VOC4CAT_MODIFIED=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          # set first 8 chars of commit hash as version for "dev"
          echo "VOC4CAT_VERSION=v_${GITHUB_SHA:0:8}" >> $GITHUB_ENV

      - name: Run voc4cat (publish joined & split SKOS/turtle)
        run: |
          voc4cat --version
          mkdir -p publish/dev/
          # delete files xlsx and ttl produced in previous workflow runs
          find publish/dev/ -type f \( -name "*.xlsx" -o -name "*.ttl" \) -delete
          cp -r vocabularies/. publish/dev/
          # Build joined turtle
          voc4cat transform --logfile publish/dev/voc4cat.log --join publish/dev/

      - name: Run voc4cat (build pyLODE HTML documentation)
        run: |
          voc4cat docs --force --logfile publish/dev/voc4cat.log publish/dev/
          # move versions-overview to what becomes gh-pages root
          mv publish/dev/index.html publish/

      - name: Run voc4cat (build current Excel file)
        # Passing the config is important to make use of the prefixes therein.
        run: |
          # Choose the conversion either with or without an xlsx template
          voc4cat convert --config idranges.toml --logfile publish/dev/voc4cat.log publish/dev/
          # voc4cat convert --config idranges.toml --logfile publish/dev/voc4cat.log --template templates/default_sheets.xlsx publish/dev/

      - name: Deploy updated gh-pages content
        # This replaces all prior content in gh-pages branch. But we have
        # checked out the gh-pages branch above so that we keep all prior
        # content and just re-publish the extended version.
        # Pinning of action managed by dependabot
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./publish
          force_orphan: true

      - name: Store publish dir (=pages) as artifact
        # This step is not required and may be removed.
        # It may be helpful for trouble shooting.
        if: ${{ always() }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: voc4cat-pages-dev-content
          path: publish/
          retention-days: 5

# Lit:
# https://github.com/peaceiris/actions-gh-pages
